:root {
    --bg-black-900: #2B2B2B;
    --bg-white-500: #FFFFFF;
    --skin-color: #C29D59;
}

/* Card.css */

.dash-card-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* z-index: 1000; */
    /* border: 1px solid red; */
    top: 65px;
    left: 270px;
    right: 0;
   

}
.add-tour-btn 
{
    display: flex;
    justify-content: end;

    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
 
}
.add-tour-btn button
{
    background-color: var(--skin-color);
}
.tour-data
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}