/* Footer.css */

:root {
    --bg-black-900: #2B2B2B;
    --bg-white-500: #FFFFFF;
    --skin-color: #C29D59;
}
.footer-container {
   
    position: absolute;
    margin-top: 30px;
    right: 0;
    left: 0;
    
    /* height: 200px; */

    
    background-color:var(--bg-black-900);
    /* Set your preferred background color */
    color: var(--bg-white-500);

    /* Set the text color */
    z-index: 100;
}

.main-footer {
   
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom:1px solid var(--bg-white-500)  ;
    
}

.footer-description,
.footer-navigation,
.footer-contact {
    flex: 1;
    text-align: center;
}
.footer-discription
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
    

}
.footer-navigation ul li:hover {
    color: var(--skin-color);
    text-decoration:line-through;
}
.footer-discription .input-box 
{
     
        display: flex;
        flex-direction: row;
        
        gap: 12%;

}
.footer-discription .input-box button
{
background-color: var(--skin-color);
}
.footer-discription .input-box input
{
    background-color: var(--bg-black-900);
    color: var(--bg-white-500);
    height: 3rem;
    width: 15rem;
    border-radius: 10px;
    border: 1px solid var(--bg-white-500);
    
}
.footer-navigation 
{
    display: flex;
    list-style: none;
    flex-direction: column;
    /* width: 5rem; */
    /* border: 1px solid red; */
    text-align: center;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}
.footer-navigation li
{
    width: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    font-size: larger;
    height: 2rem;
    font-style: oblique;
}
.footer-navigation h2
{
    border-bottom: 2px solid var(--bg-white-500);
    width: 50%;
    font-style: oblique;
    /* justify-content: start;
    align-items: start;
    justify-items: start; */
}
.footer-contact
{
    /* border:1px solid red; */
    font-size: large;
    font-style: oblique;
}
.contact-row 
{
    border-left: 5px solid var(--skin-color);
    justify-content: start;
    justify-items: start;
    align-items: start;
    margin-right: 50%;
}
.footer-contact h2
{
    border-bottom: 2px solid  var(--bg-white-500);
    width: 50%;
}
.sub-footer {
    display: flex;
    justify-content: space-between;
   
}
.policy
{
    display: flex;
    justify-content: start;
    justify-self: start;
    justify-items:start ;
    
  
}
.term-condition
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    justify-content: end;
    
}
.term-condition p
{
    padding-right: 2px;
    margin-right: 20px;
    border-right: 1px solid var(--bg-white-500);
}
.policy,
.term-condition {
    flex: 1;
    text-align: center;
}
.policy i
{
    color: var(--skin-color);
}

@media (max-width: 768px)
{
.main-footer
 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    justify-items: start;

}
.footer-description,
.footer-navigation,
.footer-contact {
    flex: 0;
    text-align: start;
    font-size:small;
    gap: 0.1;
    border: 1px solid red;
    width: 100%;
}
.footer-navigation
{
    position:sticky;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.footer-navigation ul
{
margin-left: 10px;
list-style: none;

}




}