.signup-section
{
    display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
}
.sub-input-box
{
    display: flex;
    flex-direction: row;
    gap: 2rem;
   
    justify-content: space-between;
}
.sub-input-box .input-box
{
/* border: 1px solid red; */
width: 100%;
}